# Environment settings
.env

# Package Managers: npm, composer
node_modules
vendor

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# WordPress
/wordpress
/content/*
!/content/plugins/
/content/plugins/*
#!/content/plugins/include-plugin-to-git/
!/content/themes/
/content/themes/*
!/content/themes/podcasterinnen/
